<a href="https://colab.research.google.com/github/ArredondoF99/VIOLENCIA-FAMILIAR-EN-TIEMPOS-DE-COVID-19/blob/main/Sesi%C3%B3n_04_MLipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import MLUtilities as MLU

# Ejemplo 01

En este ejemplo vamos a cargar datos de viviendas de boston y con ellos vamos a entrenar un modelo de regresión lineal. Para ello vamos a cargar un dataset y veremos sus características.

In [114]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [18]:
boston_dataset = load_boston()
bostonDataFrame = pd.DataFrame(boston_dataset.data, columns=boston_dataset.feature_names)
bostonDataFrame['MEDV'] = boston_dataset.target
bostonDataFrame.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  MEDV
0  0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

Los datos disponibles del dataset son:
- CRIM: Tasa de crimen per-capita. 
- ZN: Proporción de tierras para uso residenciales.
- INDUS: Proporción de acres de negocios por pueblo.
- CHAS: 1 si la propiedad colinda con el rio Charles, 0 sino.
- NOX: Concentracón de ácido nítrico. (parte por 10 millones)
- RM: Cantidad promedio de habitaciones por vivienda.
- AGE: Proporción de unidades construidas antes de 1940 con dueño.
- DIS: Distancias a 5 centros de empleo de Boston.
- RAD: Índice de accesibilidad a vías rápidas.
- TAX: Impuestos por cada 10,000 USD de costo.
- PTRATIO: Radio maestro-pupilo por pueblo. 
- B: 1000(Bk — 0.63)², donde Bk es la proporcion de personas descendientes de afroamericanos.
- LSTAT: Porcentaje de personas de estratos bajos de la población.

Y el dato a predecir es:
- MEDV: Valor promedio de casas ocupadas (en miles).

In [19]:
#Aqui elegiremos 2 campos: Porcentaje de personas de estatos bajos, y cantidad promedio de habitaciones por vivienda.
X = bostonDataFrame[['LSTAT', 'RM']]
Y = bostonDataFrame['MEDV']

Aqui vamos a dividir los datos en Train y Test y entrenaremos un regresor lineal para obtener lo mejor que pueda una predicción sobre el precio

In [20]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.4)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(303, 2)
(203, 2)
(303,)
(203,)

### Entrenamiento y predicciones:
Trataremos de predecir que tal funciona el regresor lineal.

In [21]:
lin_model = LinearRegression()
lin_model.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
y_train_predict = lin_model.predict(X_train)
MSE = mean_squared_error(Y_train,y_train_predict)
print("Entrenamiento: MSE ="+str(MSE))

y_test_predict = lin_model.predict(X_test)
MSE = (mean_squared_error(Y_test, y_test_predict))
print("Pruebas: MSE ="+str(MSE))

Entrenamiento: MSE =28.139615508258466
Pruebas: MSE =34.283593661377765

### Predicciones:
Ahora, veamos que tal predijo nuestro modelo poniendo lado a lado las predicciones y los valores reales

In [ ]:
df_predicciones = pd.DataFrame({'valor_real':Y_test, 'prediccion':y_test_predict})
df_predicciones = df_predicciones.reset_index(drop = True)
df_predicciones.head(10)

   valor_real  prediccion
0        37.6   37.647015
1        27.9   29.032609
2        22.6   25.444085
3        13.8    1.874892
4        35.2   33.706810
5        10.4    8.846136
6        23.9   30.363831
7        29.0   27.577564
8        22.8   26.271478
9        23.2   22.275428

# Ejemplo 02

En este ejemplo crearemos un sistema de regresión polinomial: Utilizaremos los grados de un polinomio para curvear la línea (o el plano) y evaluar que tal mejora una predicción

In [73]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import mean_squared_error

In [ ]:
boston_dataset = load_boston()
bostonDataFrame = pd.DataFrame(boston_dataset.data, columns=boston_dataset.feature_names)
bostonDataFrame['MEDV'] = boston_dataset.target
X = bostonDataFrame[['LSTAT', 'RM']]
Y = bostonDataFrame['MEDV']
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.4)

### Ejemplo lineal:
Primero probaremos con predicciones lineales

In [ ]:
lin_model = LinearRegression()
lin_model.fit(X_train, Y_train)
y_train_predict = lin_model.predict(X_train)
MSE = mean_squared_error(Y_train,y_train_predict)
print("Entrenamiento: MSE ="+str(MSE))

y_test_predict = lin_model.predict(X_test)
MSE = (mean_squared_error(Y_test, y_test_predict))
print("Pruebas: MSE ="+str(MSE))

df_predicciones = pd.DataFrame({'valor_real':Y_test, 'prediccion':y_test_predict, 'diferencia':Y_test-y_test_predict})
df_predicciones = df_predicciones.reset_index(drop = True)
df_predicciones.head(10)

Entrenamiento: MSE =27.848989524596842
Pruebas: MSE =35.02148193171412

   valor_real  prediccion  diferencia
0        21.4   22.636146   -1.236146
1        13.4   16.581412   -3.181412
2        20.0   18.762216    1.237784
3        19.6   22.941739   -3.341739
4        23.1   24.427308   -1.327308
5        16.2   16.154536    0.045464
6        14.6    3.610760   10.989240
7        18.5   14.817992    3.682008
8        13.6   16.993392   -3.393392
9        17.5   17.002229    0.497771

### Ejemplo de polinomio de grado 2
Ahora probaremos con un polinomio de grado 2

In [ ]:
poly_model = LinearRegression()
poly = PolynomialFeatures(degree=2)

Xpolytrain = poly.fit_transform(X_train)
Xpolytest = poly.fit_transform(X_test)

poly_model.fit(Xpolytrain, Y_train)
y_train_predict = poly_model.predict(Xpolytrain)

MSE = mean_squared_error(Y_train,y_train_predict)
print("Entrenamiento: MSE ="+str(MSE))

y_test_predict = poly_model.predict(Xpolytest)
MSE = (mean_squared_error(Y_test, y_test_predict))
print("Pruebas: MSE ="+str(MSE))

df_predicciones = pd.DataFrame({'valor_real':Y_test, 'prediccion':y_test_predict, 'diferencia':Y_test-y_test_predict})
df_predicciones = df_predicciones.reset_index(drop = True)
df_predicciones.head(10)

Entrenamiento: MSE =20.6035876339334
Pruebas: MSE =20.73109193466297

   valor_real  prediccion  diferencia
0        21.4   21.242792    0.157208
1        13.4   12.751130    0.648870
2        20.0   18.288925    1.711075
3        19.6   22.466176   -2.866176
4        23.1   22.852479    0.247521
5        16.2   16.190515    0.009485
6        14.6   13.401655    1.198345
7        18.5   15.453336    3.046664
8        13.6   15.695916   -2.095916
9        17.5   17.530889   -0.030889

# Ejemplo 03
**_Dr. Antonio Arista Jalife._**

En este ejemplo vamos a tomar una serie de tiempo de temperatura y con base en los datos de 10 días anteriores, trataremos de predecir la temperatura del día siguiente. Esto nos muestra como algo tan volátil de predecir como el clima puede ser predicho con un algoritmo de regresión lineal.

In [ ]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

### Serie de tiempo a Dataset.
Esta función transforma una serie de tiempo en un dataset, como vimos en clase: toma N valores y el N+1 lo vuelve una salida esperada.

In [ ]:
def transformarSerieADataset(serie, elementosPorMuestra):
    dataset = None
    salidasDataset = None
    for counter in range (len(serie)-elementosPorMuestra-1):        
        muestra = np.array([serie[counter:counter+elementosPorMuestra]])        
        salida = np.array([serie[counter+elementosPorMuestra]])
        if dataset is None:
            dataset = muestra
        else:
            dataset = np.append(dataset,muestra,axis = 0)
        if salidasDataset is None:
            salidasDataset = salida    
        else:        
            salidasDataset = np.append(salidasDataset,salida)
    return dataset, salidasDataset

In [ ]:
df_timeseries = pd.read_csv('timeseries-temperature.csv')
df_timeseries['Temp']
serie = df_timeseries['Temp'].to_numpy()

X, Y = transformarSerieADataset(serie, elementosPorMuestra = 10)

Aqui vamos a dividir los datos en Train y Test y entrenaremos un regresor lineal para obtener lo mejor que pueda una predicción sobre el clima

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.4, random_state=5)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(2183, 10)
(1456, 10)
(2183,)
(1456,)

### Entrenamiento y predicciones:
Trataremos de predecir que tal funciona el regresor lineal.

In [ ]:
lin_model = LinearRegression()
lin_model.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
y_train_predict = lin_model.predict(X_train)
MSE = mean_squared_error(Y_train,y_train_predict)
print("Entrenamiento: MSE ="+str(MSE))

y_test_predict = lin_model.predict(X_test)
MSE = (mean_squared_error(Y_test, y_test_predict))
print("Pruebas: MSE ="+str(MSE))

Entrenamiento: MSE =5.938930927900749
Pruebas: MSE =5.804442996215095

### Predicciones:
Ahora, veamos que tal predijo nuestro modelo poniendo lado a lado las predicciones y los valores reales

In [ ]:
df_predicciones = pd.DataFrame({'valor real':Y_test, 'prediccion':y_test_predict, 'diferencia':Y_test-y_test_predict})
df_predicciones = df_predicciones.reset_index(drop = True)
df_predicciones.head(10)

   diferencia  prediccion  valor real
0   -0.742427    7.842427         7.1
1    3.512457   12.787543        16.3
2    0.291408    9.808592        10.1
3    0.866023    4.433977         5.3
4    0.573464    5.126536         5.7
5   -1.312273   12.512273        11.2
6   -0.093590   16.193590        16.1
7   -0.344948    9.344948         9.0
8   -1.691188    8.291188         6.6
9   -2.004833    8.004833         6.0

# Reto 1

In [103]:
df = pd.read_csv('/content/drive/MyDrive/Proyecto Python/Municipal-Delitos-2015-2021_ene2021.csv', encoding='latin-1')
df.head()

    Año  Clave_Ent         Entidad  ...  Octubre Noviembre Diciembre
0  2015          1  Aguascalientes  ...      1.0       0.0       1.0
1  2015          1  Aguascalientes  ...      0.0       0.0       0.0
2  2015          1  Aguascalientes  ...      0.0       0.0       0.0
3  2015          1  Aguascalientes  ...      0.0       0.0       0.0
4  2015          1  Aguascalientes  ...      0.0       0.0       0.0

[5 rows x 21 columns]

In [104]:
df['Tipo de delito'].unique()

array(['Homicidio', 'Lesiones', 'Feminicidio', 'Aborto',
       'Otros delitos que atentan contra la vida y la integridad corporal',
       'Secuestro', 'Tráfico de menores', 'Rapto',
       'Otros delitos que atentan contra la libertad personal',
       'Abuso sexual', 'Acoso sexual', 'Hostigamiento sexual',
       'Violación simple', 'Violación equiparada', 'Incesto',
       'Otros delitos que atentan contra la libertad y la seguridad sexual',
       'Robo', 'Fraude', 'Abuso de confianza', 'Extorsión',
       'Daño a la propiedad', 'Despojo',
       'Otros delitos contra el patrimonio', 'Violencia familiar',
       'Violencia de género en todas sus modalidades distinta a la violencia familiar',
       'Incumplimiento de obligaciones de asistencia familiar',
       'Otros delitos contra la familia', 'Corrupción de menores',
       'Trata de personas', 'Otros delitos contra la sociedad',
       'Narcomenudeo', 'Amenazas', 'Allanamiento de morada',
       'Evasión de presos', 'Falsedad', 'Falsificación',
       'Contra el medio ambiente',
       'Delitos cometidos por servidores públicos', 'Electorales',
       'Otros delitos del Fuero Común'], dtype=object)

In [105]:
df = df[df['Tipo de delito'] == 'Violencia familiar']

In [106]:
df = df.dropna()

In [107]:
df.head()

      Año  Clave_Ent         Entidad  ...  Octubre Noviembre Diciembre
81   2015          1  Aguascalientes  ...     53.0      40.0      39.0
179  2015          1  Aguascalientes  ...      1.0       1.0       0.0
277  2015          1  Aguascalientes  ...      1.0       0.0       1.0
375  2015          1  Aguascalientes  ...      0.0       0.0       0.0
473  2015          1  Aguascalientes  ...      1.0       1.0       0.0

[5 rows x 21 columns]

In [108]:
df.dtypes

Año                         int64
Clave_Ent                   int64
Entidad                    object
Cve. Municipio              int64
Municipio                  object
Bien jurídico afectado     object
Tipo de delito             object
Subtipo de delito          object
Modalidad                  object
Enero                       int64
Febrero                   float64
Marzo                     float64
Abril                     float64
Mayo                      float64
Junio                     float64
Julio                     float64
Agosto                    float64
Septiembre                float64
Octubre                   float64
Noviembre                 float64
Diciembre                 float64
dtype: object

In [109]:
meses = ['Enero', 'Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre']

In [111]:
for i in meses:
    df[i] = df[i].astype(int)

In [112]:
df.dtypes

Año                        int64
Clave_Ent                  int64
Entidad                   object
Cve. Municipio             int64
Municipio                 object
Bien jurídico afectado    object
Tipo de delito            object
Subtipo de delito         object
Modalidad                 object
Enero                      int64
Febrero                    int64
Marzo                      int64
Abril                      int64
Mayo                       int64
Junio                      int64
Julio                      int64
Agosto                     int64
Septiembre                 int64
Octubre                    int64
Noviembre                  int64
Diciembre                  int64
dtype: object

In [113]:
df.corr()

                     Año  Clave_Ent  ...  Noviembre  Diciembre
Año             1.000000   0.008210  ...   0.015006   0.020901
Clave_Ent       0.008210   1.000000  ...  -0.120052  -0.119112
Cve. Municipio  0.010522   0.999857  ...  -0.121422  -0.120521
Enero           0.028226  -0.115913  ...   0.938448   0.939061
Febrero         0.028758  -0.116632  ...   0.942038   0.943546
Marzo           0.030139  -0.117602  ...   0.946574   0.946690
Abril           0.007350  -0.115886  ...   0.931643   0.933511
Mayo            0.007948  -0.114439  ...   0.934655   0.935402
Junio           0.013507  -0.118889  ...   0.950663   0.946100
Julio           0.022293  -0.116112  ...   0.954282   0.950702
Agosto          0.019152  -0.120844  ...   0.965135   0.953874
Septiembre      0.019108  -0.118454  ...   0.971168   0.963292
Octubre         0.023176  -0.118604  ...   0.978585   0.969004
Noviembre       0.015006  -0.120052  ...   1.000000   0.973144
Diciembre       0.020901  -0.119112  ...   0.973144   1.000000

[15 rows x 15 columns]

In [ ]:
sns.pairplot(df)

In [131]:
X = df[['Año', 'Clave_Ent', 'Cve. Municipio', 'Enero', 'Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre']]
Y = df['Diciembre']

In [132]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.4)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(8244, 14)
(5497, 14)
(8244,)
(5497,)

In [133]:
lin_model = LinearRegression()
lin_model.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [134]:
y_train_predict = lin_model.predict(X_train)
MSE = mean_squared_error(Y_train,y_train_predict)
print("Entrenamiento: MSE ="+str(MSE))

y_test_predict = lin_model.predict(X_test)
MSE = (mean_squared_error(Y_test, y_test_predict))
print("Pruebas: MSE ="+str(MSE))

Entrenamiento: MSE =28.565187009923267
Pruebas: MSE =29.731059034730347

In [135]:
df_predicciones_vf = pd.DataFrame({'valor_real':Y_test, 'prediccion':y_test_predict})
df_predicciones_vf = df_predicciones_vf.reset_index(drop = True)
df_predicciones_vf.head(10)

   valor_real  prediccion
0           0    0.224431
1           0    0.402632
2           0    0.246217
3           0    0.050716
4          87   71.588645
5           0    0.091473
6           0   -0.060584
7           2    1.389736
8           1    2.506679
9           0    0.016495

# Reto 2

## Lineal

In [136]:
y_train_predict = lin_model.predict(X_train)
MSE = mean_squared_error(Y_train,y_train_predict)
print("Entrenamiento: MSE ="+str(MSE))

y_test_predict = lin_model.predict(X_test)
MSE = (mean_squared_error(Y_test, y_test_predict))
print("Pruebas: MSE ="+str(MSE))

df_predicciones_vf = pd.DataFrame({'valor_real':Y_test, 'prediccion':y_test_predict})
df_predicciones_vf = df_predicciones_vf.reset_index(drop = True)
df_predicciones_vf.head(10)

Entrenamiento: MSE =28.565187009923267
Pruebas: MSE =29.731059034730347

   valor_real  prediccion
0           0    0.224431
1           0    0.402632
2           0    0.246217
3           0    0.050716
4          87   71.588645
5           0    0.091473
6           0   -0.060584
7           2    1.389736
8           1    2.506679
9           0    0.016495

## Polinomio de grado 2

In [137]:
poly_model = LinearRegression()
poly = PolynomialFeatures(degree=2)

Xpolytrain = poly.fit_transform(X_train)
Xpolytest = poly.fit_transform(X_test)

poly_model.fit(Xpolytrain, Y_train)
y_train_predict = poly_model.predict(Xpolytrain)

MSE = mean_squared_error(Y_train,y_train_predict)
print("Entrenamiento: MSE ="+str(MSE))

y_test_predict = poly_model.predict(Xpolytest)
MSE = (mean_squared_error(Y_test, y_test_predict))
print("Pruebas: MSE ="+str(MSE))

df_predicciones = pd.DataFrame({'valor_real':Y_test, 'prediccion':y_test_predict, 'diferencia':Y_test-y_test_predict})
df_predicciones = df_predicciones.reset_index(drop = True)
df_predicciones.head(10)

Entrenamiento: MSE =12.964287221133088
Pruebas: MSE =105.32400408491333

   valor_real  prediccion  diferencia
0           0    0.198859   -0.198859
1           0   -0.130314    0.130314
2           0    0.140284   -0.140284
3           0   -0.020912    0.020912
4          87   61.072957   25.927043
5           0    2.614500   -2.614500
6           0    0.294765   -0.294765
7           2    2.189471   -0.189471
8           1    1.810908   -0.810908
9           0   -0.125217    0.125217