<a href="https://colab.research.google.com/github/ArredondoF99/VIOLENCIA-FAMILIAR-EN-TIEMPOS-DE-COVID-19/blob/main/Violencia_Familiar_en_tiempos_de_COVID_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **VIOLENCIA FAMILIAR EN TIEMPOS DE COVID-19**

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import PolynomialFeatures

## Limpieza de datos

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Proyecto Python/Municipal-Delitos-2015-2021_ene2021.csv', encoding='latin-1')
df.head()

    Año  Clave_Ent         Entidad  ...  Octubre Noviembre Diciembre
0  2015          1  Aguascalientes  ...      1.0       0.0       1.0
1  2015          1  Aguascalientes  ...      0.0       0.0       0.0
2  2015          1  Aguascalientes  ...      0.0       0.0       0.0
3  2015          1  Aguascalientes  ...      0.0       0.0       0.0
4  2015          1  Aguascalientes  ...      0.0       0.0       0.0

[5 rows x 21 columns]

In [ ]:
df['Tipo de delito'].unique()

array(['Homicidio', 'Lesiones', 'Feminicidio', 'Aborto',
       'Otros delitos que atentan contra la vida y la integridad corporal',
       'Secuestro', 'Tráfico de menores', 'Rapto',
       'Otros delitos que atentan contra la libertad personal',
       'Abuso sexual', 'Acoso sexual', 'Hostigamiento sexual',
       'Violación simple', 'Violación equiparada', 'Incesto',
       'Otros delitos que atentan contra la libertad y la seguridad sexual',
       'Robo', 'Fraude', 'Abuso de confianza', 'Extorsión',
       'Daño a la propiedad', 'Despojo',
       'Otros delitos contra el patrimonio', 'Violencia familiar',
       'Violencia de género en todas sus modalidades distinta a la violencia familiar',
       'Incumplimiento de obligaciones de asistencia familiar',
       'Otros delitos contra la familia', 'Corrupción de menores',
       'Trata de personas', 'Otros delitos contra la sociedad',
       'Narcomenudeo', 'Amenazas', 'Allanamiento de morada',
       'Evasión de presos', 'Falsedad', 'Falsificación',
       'Contra el medio ambiente',
       'Delitos cometidos por servidores públicos', 'Electorales',
       'Otros delitos del Fuero Común'], dtype=object)

In [ ]:
df = df[df['Tipo de delito'] == 'Violencia familiar']

In [ ]:
df = df.dropna()

In [ ]:
df.head()

      Año  Clave_Ent         Entidad  ...  Octubre Noviembre Diciembre
81   2015          1  Aguascalientes  ...     53.0      40.0      39.0
179  2015          1  Aguascalientes  ...      1.0       1.0       0.0
277  2015          1  Aguascalientes  ...      1.0       0.0       1.0
375  2015          1  Aguascalientes  ...      0.0       0.0       0.0
473  2015          1  Aguascalientes  ...      1.0       1.0       0.0

[5 rows x 21 columns]

In [ ]:
df.dtypes

Año                         int64
Clave_Ent                   int64
Entidad                    object
Cve. Municipio              int64
Municipio                  object
Bien jurídico afectado     object
Tipo de delito             object
Subtipo de delito          object
Modalidad                  object
Enero                       int64
Febrero                   float64
Marzo                     float64
Abril                     float64
Mayo                      float64
Junio                     float64
Julio                     float64
Agosto                    float64
Septiembre                float64
Octubre                   float64
Noviembre                 float64
Diciembre                 float64
dtype: object

In [ ]:
meses = ['Enero', 'Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre']

In [ ]:
for i in meses:
    df[i] = df[i].astype(int)

In [ ]:
df.dtypes

Año                        int64
Clave_Ent                  int64
Entidad                   object
Cve. Municipio             int64
Municipio                 object
Bien jurídico afectado    object
Tipo de delito            object
Subtipo de delito         object
Modalidad                 object
Enero                      int64
Febrero                    int64
Marzo                      int64
Abril                      int64
Mayo                       int64
Junio                      int64
Julio                      int64
Agosto                     int64
Septiembre                 int64
Octubre                    int64
Noviembre                  int64
Diciembre                  int64
dtype: object

In [ ]:
df.corr()

                     Año  Clave_Ent  ...  Noviembre  Diciembre
Año             1.000000   0.008210  ...   0.015006   0.020901
Clave_Ent       0.008210   1.000000  ...  -0.120052  -0.119112
Cve. Municipio  0.010522   0.999857  ...  -0.121422  -0.120521
Enero           0.028226  -0.115913  ...   0.938448   0.939061
Febrero         0.028758  -0.116632  ...   0.942038   0.943546
Marzo           0.030139  -0.117602  ...   0.946574   0.946690
Abril           0.007350  -0.115886  ...   0.931643   0.933511
Mayo            0.007948  -0.114439  ...   0.934655   0.935402
Junio           0.013507  -0.118889  ...   0.950663   0.946100
Julio           0.022293  -0.116112  ...   0.954282   0.950702
Agosto          0.019152  -0.120844  ...   0.965135   0.953874
Septiembre      0.019108  -0.118454  ...   0.971168   0.963292
Octubre         0.023176  -0.118604  ...   0.978585   0.969004
Noviembre       0.015006  -0.120052  ...   1.000000   0.973144
Diciembre       0.020901  -0.119112  ...   0.973144   1.000000

[15 rows x 15 columns]

In [ ]:
sns.pairplot(df)

In [ ]:
X = df[['Año', 'Clave_Ent', 'Cve. Municipio', 'Enero', 'Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre']]
Y = df['Diciembre']

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.4)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(8244, 14)
(5497, 14)
(8244,)
(5497,)

In [ ]:
lin_model = LinearRegression()
lin_model.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
y_train_predict = lin_model.predict(X_train)
MSE = mean_squared_error(Y_train,y_train_predict)
print("Entrenamiento: MSE ="+str(MSE))

y_test_predict = lin_model.predict(X_test)
MSE = (mean_squared_error(Y_test, y_test_predict))
print("Pruebas: MSE ="+str(MSE))

Entrenamiento: MSE =28.565187009923267
Pruebas: MSE =29.731059034730347

In [ ]:
df_predicciones_vf = pd.DataFrame({'valor_real':Y_test, 'prediccion':y_test_predict})
df_predicciones_vf = df_predicciones_vf.reset_index(drop = True)
df_predicciones_vf.head(10)

   valor_real  prediccion
0           0    0.224431
1           0    0.402632
2           0    0.246217
3           0    0.050716
4          87   71.588645
5           0    0.091473
6           0   -0.060584
7           2    1.389736
8           1    2.506679
9           0    0.016495

## Modelo de Regresión Lineal

### Lineal

In [ ]:
y_train_predict = lin_model.predict(X_train)
MSE = mean_squared_error(Y_train,y_train_predict)
print("Entrenamiento: MSE ="+str(MSE))

y_test_predict = lin_model.predict(X_test)
MSE = (mean_squared_error(Y_test, y_test_predict))
print("Pruebas: MSE ="+str(MSE))

df_predicciones_vf = pd.DataFrame({'valor_real':Y_test, 'prediccion':y_test_predict})
df_predicciones_vf = df_predicciones_vf.reset_index(drop = True)
df_predicciones_vf.head(10)

Entrenamiento: MSE =28.565187009923267
Pruebas: MSE =29.731059034730347

   valor_real  prediccion
0           0    0.224431
1           0    0.402632
2           0    0.246217
3           0    0.050716
4          87   71.588645
5           0    0.091473
6           0   -0.060584
7           2    1.389736
8           1    2.506679
9           0    0.016495

### Polinomio de grado 2

In [ ]:
poly_model = LinearRegression()
poly = PolynomialFeatures(degree=2)

Xpolytrain = poly.fit_transform(X_train)
Xpolytest = poly.fit_transform(X_test)

poly_model.fit(Xpolytrain, Y_train)
y_train_predict = poly_model.predict(Xpolytrain)

MSE = mean_squared_error(Y_train,y_train_predict)
print("Entrenamiento: MSE ="+str(MSE))

y_test_predict = poly_model.predict(Xpolytest)
MSE = (mean_squared_error(Y_test, y_test_predict))
print("Pruebas: MSE ="+str(MSE))

df_predicciones = pd.DataFrame({'valor_real':Y_test, 'prediccion':y_test_predict, 'diferencia':Y_test-y_test_predict})
df_predicciones = df_predicciones.reset_index(drop = True)
df_predicciones.head(10)

Entrenamiento: MSE =12.964287221133088
Pruebas: MSE =105.32400408491333

   valor_real  prediccion  diferencia
0           0    0.198859   -0.198859
1           0   -0.130314    0.130314
2           0    0.140284   -0.140284
3           0   -0.020912    0.020912
4          87   61.072957   25.927043
5           0    2.614500   -2.614500
6           0    0.294765   -0.294765
7           2    2.189471   -0.189471
8           1    1.810908   -0.810908
9           0   -0.125217    0.125217